@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

/* Custom Properties */
:root,
:root.blue {
    /* Background */
    --bg-clr: hsla(223, 26%, 31%, 1);

    /* Calculator Background */
    --output-clr: hsla(224, 36%, 15%, 1);
    --keys-grid-bg-clr: hsla(224, 30%, 21%, 1);
    --keys-number-bg-clr: rgba(234, 227, 220, 1);
    --keys-operation-bg-clr: rgba(234, 227, 220, 1);
    --keys-clear-bg-clr: hsla(224, 21%, 49%, 1);
    --keys-equal-bg-clr: hsla(6, 63%, 50%, 1);

    /* Calculator Text */
    --text-clr: hsla(0, 0%, 100%, 1);
    --keys-number-text-clr: hsla(221, 14%, 31%, 1);
    --keys-operation-text-clr: hsla(221, 14%, 31%, 1);
    --keys-clear-text-clr: hsla(0, 0%, 100%, 1);
    --keys-equal-text-clr: hsla(0, 0%, 100%, 1);

    /* Box Shadow */
    --bs-number-clr: hsla(27, 15%, 65%, 1);
    --bs-delete-clr: hsla(225, 28%, 35%, 1);
    --bs-equals-clr: hsla(6, 70%, 34%, 1);

    /* Range Slider */
    --range-thumb-clr: hsla(6, 63%, 50%, 1);
    --range-bg-clr: hsla(223, 31%, 20%, 1);
}

:root.white {
    /* Background */
    --bg-clr: hsla(0, 0%, 90%, 1);

    /* Calculator Background */
    --output-clr: hsla(9, 1%, 93%, 1);
    --keys-grid-bg-clr: hsla(0, 5%, 81%, 1);
    --keys-number-bg-clr: hsla(45, 7%, 89%, 1);
    --keys-operation-bg-clr: hsla(45, 7%, 89%, 1);
    --keys-clear-bg-clr: hsla(184, 42%, 37%, 1);
    --keys-equal-bg-clr: hsla(25, 98%, 40%, 1);

    /* Calculator Text */
    --text-clr: hsla(60, 10%, 19%, 1);
    --keys-number-text-clr: hsla(60, 10%, 19%, 1);
    --keys-operation-text-clr: hsla(60, 10%, 19%, 1);
    --keys-clear-text-clr: hsla(0, 0%, 100%, 1);
    --keys-equal-text-clr: hsla(0, 0%, 100%, 1);

    /* Box Shadow */
    --bs-number-clr: hsla(34, 11%, 61%, 1);
    --bs-delete-clr: hsla(184, 59%, 25%, 1);
    --bs-equals-clr: hsla(25, 99%, 27%, 1);

    /* Range Slider */
    --range-thumb-clr: hsla(25, 98%, 40%, 1);
    --range-bg-clr: hsla(0, 5%, 81%, 1);
}

:root.purple {
    /* Background */
    --bg-clr: hsla(267, 74%, 9%, 1);

    /* Calculator Background */
    --output-clr: hsla(268, 71%, 12%, 1);
    --keys-grid-bg-clr: hsla(268, 71%, 12%, 1);
    --keys-number-bg-clr: hsla(268, 47%, 21%, 1);
    --keys-operation-bg-clr: hsla(268, 47%, 21%, 1);
    --keys-clear-bg-clr: hsla(280, 90%, 26%, 1);
    --keys-equal-bg-clr: hsla(176, 100%, 44%, 1);

    /* Calculator Text */
    --text-clr: hsla(52, 100%, 62%, 1);
    --keys-number-text-clr: hsla(52, 100%, 62%, 1);
    --keys-operation-text-clr: hsla(52, 100%, 62%, 1);
    --keys-clear-text-clr: hsla(0, 0%, 100%, 1);
    --keys-equal-text-clr: hsla(198, 20%, 13%, 1);

    /* Box Shadow */
    --bs-number-clr: hsla(290, 70%, 36%, 1);
    --bs-delete-clr: hsla(285, 91%, 52%, 1);
    --bs-equals-clr: hsla(176, 93%, 70%, 1);

    /* Range Slider */
    --range-thumb-clr: hsla(176, 100%, 44%, 1);
    --range-bg-clr: hsla(268, 71%, 12%, 1);
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-clr);
    color: var(--text-clr);
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

h1 {
    font-size: 32px;
}

.slider-container {
    display: flex;
}

.slider-title {
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 1px;
}

.range-container {
    margin: auto;
}

.numbers,
.slider {
    display: flex;
    justify-content: space-between;
}

.numbers span {
    width: 0;
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 70px;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--range-bg-clr);
    border-radius: 13px;
    height: 25px;
    padding-inline: 5px;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    margin-top: 4px;
    /* Centers thumb on the track */
    background-color: var(--range-thumb-clr);
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

/* input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #d03f2f;
    outline-offset: 0.125rem;
} */

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: var(--range-bg-clr);
    border-radius: 13px;
    height: 26px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: var(--range-thumb-clr);
    border: none;
    /*Removes extra border that FF applies*/
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

input[type="range"]:focus::-moz-range-thumb {
    outline: 3px solid var(--range-thumb-clr);
    outline-offset: 0.125rem;
}

/* Calculator */

.calculator-grid {
    display: grid;
    grid-template-columns: 540px;
    grid-template-rows: minmax(128px, auto) 1fr;
    gap: 24px;
}

.output {
    grid-column: 1 / -1;
    background-color: var(--output-clr);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5em;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    font-size: 56px;
}

.calculator-keys-grid {
    display: grid;
    grid-template-columns: repeat(4, 101px);
    grid-template-rows: repeat(5, 64px);
    justify-content: center;
    align-content: center;
    gap: 24px;
    background-color: var(--keys-grid-bg-clr);
    padding: 32px 30px;
    border-radius: 10px;
}

.calculator-keys-grid > button {
    border-radius: 10px;
    border: none;

}

.span-two {
    grid-column: span 2;
}

.number,
.operation {
    background-color: var(--keys-operation-bg-clr);
    color: var(--keys-number-text-clr);
    font-size: 40px;
    box-shadow: 0px -4px 0px 0px var(--bs-number-clr) inset;
}

.clear,
.delete {
    background-color: var(--keys-clear-bg-clr);
    color: var(--keys-clear-text-clr);
    font-size: 28px;
    box-shadow: 0px -4px 0px 0px var(--bs-delete-clr) inset;
}

.equals {
    background-color: var(--keys-equal-bg-clr);
    color: var(--keys-equal-text-clr);
    box-shadow: 0px -4px 0px 0px var(--bs-equals-clr) inset;
}